/** Created by egzontina on 16-04-06. */
span.light-grey{
    background-color: lightgray;
}

span.light-green{
    background-color: lightgreen;
}

span.yellow{
    background-color: yellow;
}

span.red{
    background-color: red;
}