<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Open Data Kosovo</string>
	<key>Builder Version</key>
	<string>14606.3.4</string>
	<key>CFBundleDisplayName</key>
	<string>fact-checker</string>
	<key>CFBundleIdentifier</key>
	<string>org.opendatakosovo.fact-checker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>contextmenu</string>
				<key>Title</key>
				<string>Fact checker</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Identifier</key>
				<string>toolbarpopover</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbaricon</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Toolbar 1</string>
				<key>Palette Label</key>
				<string>My toolbar</string>
				<key>Popover</key>
				<string>toolbarpopover</string>
				<key>Tool Tip</key>
				<string>use it</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>endscript.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>index.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Fack Checker Extension</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.opendatakosovo.org</string>
</dict>
</plist>
